/* 
font-family: 'Roboto Slab', serif;

*/

/*  FONTS */

/* pinyon-script-regular - latin */
@font-face {
  font-family: "Pinyon Script";
  font-style: normal;
  font-weight: 400;
  src: local("Pinyon Script"), local("PinyonScript"),
    url("../fonts/pinyon-script-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/pinyon-script-v7-latin-regular.woff") format("woff");
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
       url('../fonts/noto-serif-v6-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-serif-v6-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  block-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: autp;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* ELEMENTS */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 37px;
}

.site-logo {
  font-family: "Pinyon Script", cursive;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: #fed136;
  margin-left: 7px;
}

.main-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 480px;
    justify-content: space-between;
}

.main-nav-list-item a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #222222;
}

.main-nav-list-item a:hover, .main-nav-list-item a:focus {
  color: #fed136;
}

.services {
  margin-top: 122px;
}

.services-title {
  margin-bottom: 18px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.description {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.2;
  color: #777777;
  margin: 0;
}

.services-list {
  list-style: none;
  display: flex;
  margin-top: 80px;
  text-align: center;
  justify-content: space-between;
}

.services-list-item {
  width: 290px;
}

.services-list li::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 72px;
  height: 71px;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
}

.services-list li:first-child::before {
  background-image: url("../img/e-commerce.jpg");
}

.services-list li:nth-child(2)::before {
  background-image: url("../img/responsive-web.jpg");
}

.services-list li:last-child:before {
  background-image: url("../img/web-security.jpg");
}


.services-list-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #222222;
  margin-top: 22px;
  margin-bottom: 18px;
}

.services-list-item-description {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.2;
  color: #777777;
  font-size: 14px;
  margin: 0;
}

.contact {
  padding-top: 106px;
  padding-bottom: 115px;
  margin-top: 122px;
}

.contact-title {
  margin-bottom: 22px;
  color: #ffffff;
}

/* CONTACT FORM */
.contact-form {
  margin-top: 78px;
}

.contact-form input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #bbbbbb;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  width: 455px;
  height: 52px;
  text-transform: uppercase;
  padding-left: 20px;
  box-sizing: border-box;

  
}

.contact-form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 350px;
  text-transform: uppercase;
  width: 240px;
  height: 66px;
  background-color: rgb(254, 209, 54);
  border-radius: 3px;

}

.contact-form-message {
  resize: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #bbbbbb;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  width: 455px;
  height: 210px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 18px;
  box-sizing: border-box;
}

.contact-form-text-inputs {
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: space-between;
}

.contact-form-text {
  display: flex;
  justify-content: space-between;
}

.black {
  width: 1400px;
  background-image: url("../img/background.jpg");
  position: relative;
}

.black::after {
  content: '';
  background-image: url("../img/map-image.jpg");
  width: 614px;
  height: 537px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 120px;
  opacity: 0.302;
}

.contact-form input[type='email']:invalid,
.contact-form textarea:invalid, 
.contact-form input[name='user_name']:invalid {
  outline: 1px solid red;
}

.contact-form input[type='email']:valid,
.contact-form textarea:valid, 
.contact-form input[name='user_name']:valid {
  outline: 1px solid green;
}


/* visually-hidden helper */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
